<div class="card border-primary mb-3">
    <div class="card-header label-themecolor">
        <h4 class="m-b-0 text-white">Listado de punto retiro( {{ puntosRetiro.length }})</h4>
    </div>
    <div class="card-body text-dark">
        <div class="row form-group">
            <div class="col-3">
                <button class="btn btn-rounded   btn-success" type="button" [routerLink]="['/abi-puntoRetiro/formulario']">
              <i class="fa fa-plus"></i>
              Nuevo
            </button>
            </div>

            <div class="col-3"></div>
        </div>
        <div class="row" animated fadeIn *ngIf="cargando">
            <div class="col-sm-6 col-md-12">
                <div class="alert alert-info text-center">
                    <strong>Cargando ...</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor</span>
                </div>
            </div>
        </div>
        <div *ngIf="puntosRetiro?.length == 0" class="alert alert-info">
            No se han encontrado registros ...
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped" *ngIf="puntosRetiro?.length>0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>CALLE PRINC.</th>
                        <th>CALLE SEC.</th>
                        <th>NUMERO</th>
                        <th>REFERENCIA</th>
                        <th>UBICACION</th>
                        <th>Editar</th>
                        <th>Eliminar</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let punto of puntosRetiro | slice: (currentPage * pageSize) - pageSize :currentPage * pageSize">

                        <td>{{ punto.id }}</td>
                        <td>{{ punto.nombre }}</td>
                        <td>{{ punto.calle_principal }}</td>
                        <td>{{ punto.calle_secundaria }}</td>
                        <td>{{ punto.numero }}</td>
                        <td>{{ punto.referencia }}</td>
                        <td>{{ punto.ubicacion }}</td>
                        <td>
                            <button class="btn btn-info btn-circle " [routerLink]="['/abi-puntoRetiro/formulario', punto.id]" type="button">
                     <i class="fa fa-pencil"></i>
                   </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-circle " (click)='delete(punto)' type="button">
                     <i class="fa fa-trash-o"></i>
                     </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container" *ngIf="puntosRetiro?.length > 0">
            <ngb-pagination class="d-flex justify-content-center" [size]="tamanhoPag" [collectionSize]="puntosRetiro.length" [(page)]="currentPage" [maxSize]="4" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>&laquo;</ng-template>
                <ng-template ngbPaginationNext>&raquo;</ng-template>
                <ng-template ngbPaginationFirst>Primera</ng-template>
                <ng-template ngbPaginationLast>Última</ng-template>
            </ngb-pagination>
        </div>

    </div>
</div>