* {
    font-size: 12px;
    font-family: 'Times New Roman';
   }
   
   td,
   th,
   tr,
   table {
       border-top: 1px solid black;
       border-collapse: collapse;
   }
   
/*   td.producto,
   th.producto {
       width: 75px;
       max-width: 75px;
   }
   
   td.cantidad,
   th.cantidad {
       width: 40px;
       max-width: 40px;
       word-break: break-all;
   }
   
   td.precio,
   th.precio {
       width: 40px;
       max-width: 40px;
       word-break: break-all;
   }
   
   .centrado {
       text-align: center;
       align-content: center;
   }
   
   .ticket {
       width: 155px;
       max-width: 155px;
   }*/

   td.producto,
   th.producto {
       text-align: center;
       align-content: center;
       width: 95px;
       max-width: 95px;
   }
   
   td.cantidad,
   th.cantidad {
       text-align: center;
       align-content: center;
       width: 30px;
       max-width: 30px;
       word-break: break-all;
   }
   
   td.precio,
   th.precio {
       text-align: center;
       align-content: center;
       width: 50px;
       max-width: 50px;
       word-break: break-all;
   }
   
   .centrado {
       text-align: center;
       align-content: center;
   }

   .izquierda {
    text-align: left;
    align-content: left;
}

   
   .ticket {
       width: 175px;
       max-width: 175px;
   }
   
   img {
       max-width: inherit;
       width: inherit;
   }
   
   
   @media print {
       .oculto-impresion,
       .oculto-impresion * {
           display: none !important;
       }
   }